* {
  border: none;
  border-radius: 0px;
  font-family: "JetBrains Mono";
  font-weight: bold;
  font-size: 16px;
  min-height: 0;
  color: #ebdbb2;
  margin: 0;
  padding: 0;
}

window#waybar {
  background: #1d2021;
}

/* Workspace Buttons */
#workspaces button label{
  padding: 0 20px;
}

#workspaces button.active label {
  color: #1d2021;
}

#workspaces button:hover {
  background: #3c3836;
}

#workspaces button.active {
  background: #d65d0e;
}

#clock, #battery, #pulseaudio, #tray, #language, #weather {
  padding: 0 10px;
}

#language {
  color: #d79921;
  border-bottom: 5px solid #d79921;
}

#custom-weather {
  color: #98971a;
  border-bottom: 5px solid #98971a
}

#pulseaudio {
  color: #689d6a;
  border-bottom: 5px solid #689d6a;
}

#pulseaudio.muted {
  padding: 0 20px;
  color: #cc241d;
  border-bottom: 5px solid #cc241d;
}

#battery {
  color: #458588;
  border-bottom: 5px solid #458588;
}

#clock {
  color: #b16286;
  border-bottom: 5px solid #b16286;
}

#tray {
  color: #d65d0e;
  border-bottom: 5px solid #d65d0e;
}
